In [ ]:
categorical data

In [3]:
import seaborn as sns
data=sns.load_dataset('tips')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [8]:
data[['sex','smoker']]

        sex smoker
0    Female     No
1      Male     No
2      Male     No
3      Male     No
4    Female     No
..      ...    ...
239    Male     No
240  Female    Yes
241    Male    Yes
242    Male     No
243  Female     No

[244 rows x 2 columns]

In [9]:
data[['sex']].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [10]:
data[['smoker']].value_counts()

smoker
No        151
Yes        93
Name: count, dtype: int64

In [11]:
import pandas as pd

In [12]:
pd.crosstab(data['sex'],data['smoker'])

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [13]:
pd.crosstab(data['sex'],data['time'])

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

In [14]:
data_table=pd.crosstab(data['sex'],data['time'])

In [15]:
data_table

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

In [18]:
data_aaray=data_table.values

In [19]:
data_aaray

array([[ 33, 124],
       [ 35,  52]], dtype=int64)

In [20]:
print(f"this is my observ value {data_aaray}")

this is my observ value [[ 33 124]
 [ 35  52]]

In [21]:
import scipy.stats as stats

In [23]:
stats.chi2_contingency(data_aaray)

Chi2ContingencyResult(statistic=9.343808982970623, pvalue=0.002237400118075248, dof=1, expected_freq=array([[ 43.75409836, 113.24590164],
       [ 24.24590164,  62.75409836]]))

In [24]:
stats_test,p,dof,Expected_value=stats.chi2_contingency(data_aaray)

In [25]:
Expected_value

array([[ 43.75409836, 113.24590164],
       [ 24.24590164,  62.75409836]])

In [26]:
import scipy.stats as chi

In [27]:
for o,i in zip(data_aaray,Expected_value):
    print(o,i)

[ 33 124] [ 43.75409836 113.24590164]
[35 52] [24.24590164 62.75409836]

In [29]:
for o,e in zip(data_aaray,Expected_value):
    print((o-e)**2/e)

[2.6431954  1.02123459]
[4.76990434 1.84291759]

In [32]:
sum([(o,e)**2/e for o,e in zip(data_aaray,Expected_value)])

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'