In [23]:
import pandas as pd

In [24]:
df=pd.read_csv("im.csv")

In [25]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [26]:
x=df.drop(labels=['Unnamed: 0'],axis=1)

In [20]:
df

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [29]:
categorical_col=x.select_dtypes(include="object").columns

In [30]:
categorical_col

Index(['cut', 'color', 'clarity'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26236 entries, 0 to 26235
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26236 non-null  float64
 1   cut      26236 non-null  int64
 2   color    26236 non-null  int64
 3   clarity  26236 non-null  int64
 4   depth    26236 non-null  float64
 5   table    26236 non-null  float64
 6   x        26236 non-null  float64
 7   y        26236 non-null  float64
 8   z        26236 non-null  float64
 9   price    26236 non-null  int64
dtypes: float64(6), int64(4)
memory usage: 2.0 MB

In [31]:
numaric_col=x.select_dtypes(exclude="object").columns

In [33]:
df[numaric_col]

       carat  depth  table     x     y     z  price
0       0.30   62.1   58.0  4.27  4.29  2.66    499
1       0.33   60.8   58.0  4.42  4.46  2.70    984
2       0.90   62.2   60.0  6.04  6.12  3.78   6289
3       0.42   61.6   56.0  4.82  4.80  2.96   1082
4       0.31   60.4   59.0  4.35  4.43  2.65    779
...      ...    ...    ...   ...   ...   ...    ...
26962   1.11   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27   61.8   56.0  4.19  4.20  2.60    682
26966   1.25   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 7 columns]

In [34]:
df[categorical_col]

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26967 rows x 3 columns]

In [38]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [44]:
df[['cut','clarity','color']]

             cut clarity color
0          Ideal     SI1     E
1        Premium      IF     G
2      Very Good    VVS2     E
3          Ideal     VS1     F
4          Ideal    VVS1     F
...          ...     ...   ...
26962    Premium     SI1     G
26963      Ideal      IF     H
26964    Premium     VS2     E
26965  Very Good    VVS2     F
26966    Premium     SI1     J

[26967 rows x 3 columns]

In [43]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Very Good', 'Good', 'Fair'], dtype=object)

In [46]:
df['clarity'].unique()

array(['SI1', 'IF', 'VVS2', 'VS1', 'VVS1', 'VS2', 'SI2', 'I1'],
      dtype=object)

In [47]:
df['color'].unique()

array(['E', 'G', 'F', 'D', 'H', 'J', 'I'], dtype=object)

In [ ]:
cut_categorical=['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']
clarity_categorical=['SI1', 'IF', 'VVS2', 'VS1', 'VVS1', 'VS2', 'SI2', 'I1']
color_categorical=['E', 'G', 'F', 'D', 'H', 'J', 'I']

In [ ]:
pipline

1)imputer
2.Encoding 
3.scaling

pipline

1)imputer
2.Encoding 
3.scaling

In [37]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
num_pipeline=Pipeline(
    steps=[
        (SimpleImputer()),
        (OrdinalEncoder()),
        (StandardScaler()),
    ]
)
cat_pipeline=Pipeline(
    steps=[
        (SimpleImputer(strategy="most_frequent")),
        (OrdinalEncoder(cat)),
        (StandardScaler()),
    ]
)


ColumnTransformer(
    [
        ("")

    ]
)